In [2]:
import requests
from bs4 import BeautifulSoup as bs
# importing splinter and setting the path as chromedriver
from splinter import Browser
import pandas as pd

In [3]:
# Accessing the webpage
result = requests.get("https://mars.nasa.gov/news/")

In [4]:
# 200 response means that the website is accessible
print(result.status_code)

200

In [5]:
# Checking the HTTP header of website to verify that we are in the correct page
print(result.headers)

{'Content-Type': 'text/html; charset=utf-8', 'Transfer-Encoding': 'chunked', 'Connection': 'keep-alive', 'Date': 'Thu, 19 Sep 2019 10:37:53 GMT', 'Server': 'Apache', 'Cache-Control': 'max-age=900, public, public', 'X-Frame-Options': 'ALLOWALL', 'X-Runtime': '0.171598', 'X-Request-Id': '79dccf5a-4d07-4441-9ef6-85ee53b5e31b', 'X-Powered-By': 'Phusion Passenger', 'Strict-Transport-Security': 'max-age=31536000; includeSubDomains; preload', 'Status': '200 OK', 'Content-Encoding': 'gzip', 'Vary': 'Accept-Encoding', 'X-Cache': 'Hit from cloudfront', 'Via': '1.1 8fd23adcee29b78303863f20d62cabd8.cloudfront.net (CloudFront)', 'X-Amz-Cf-Pop': 'ATL52-C1', 'X-Amz-Cf-Id': 'YRWyP1JufvyCmtkGSMcU8_YYB_ATa_gmuU-Zd-Ka8G1pgtWRSDpfeQ==', 'Age': '62'}

In [6]:
# storing the page content of the website to a variable
source = result.content
#print(source)

In [7]:
# using BeautifulSoup module to parse and process the source
soup = bs(source, 'lxml')

In [8]:
#print(soup.prettify())

In [9]:
# Now, the page source has been processed via BeautifulSoup, we can access the information directly from it
news_title = soup.title.text
print(news_title)

News  – NASA’s Mars Exploration Program

In [10]:
# printing the paragraph text
news_p = soup.body.find_all('p')

for paragraph in news_p:
    print(paragraph.text)

Managed by the Mars Exploration Program and the Jet Propulsion Laboratory for NASA’s Science Mission Directorate

In [19]:
#JPL MARS SPACE IMAGES - FEATURED IMAGE

executable_path = {"executable_path": "chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

In [20]:
# finding the image url for the current image
image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(image_url)

In [21]:
# finding the image url to the full size .jpg image
browser.click_link_by_partial_text("FULL IMAGE")
expand = browser.find_by_css('a.fancybox-expand')
expand.click()
html = browser.html
soup = bs(html, 'html.parser')
img = soup.find('img', class_='fancybox-image')['src']
#print(img)

# passing the path to view the actual image
featured_image_url = f'https://www.jpl.nasa.gov{img}'
#print(featured_image_url)

In [13]:
# MARS WEATHER

weather_url = 'https://twitter.com/marswxreport?lang=en'

response = requests.get(weather_url)
soup = bs(response.text, 'html.parser')

In [14]:
# print(soup.prettify())

In [15]:
# printing the conent 
contents = soup.find_all('div', class_='content')
#contents

In [19]:
# using for loop to find the weather container in a list
mars_weather = []

for content in contents:
    tweet = content.find('div', class_='js-tweet-text-container').text
    mars_weather.append(tweet)
#print(mars_weather)

# printing the latest weather and saving into variable
mars_weather = mars_weather[0]
print(mars_weather)

InSight sol 287 (2019-09-17) low -102.8ºC (-153.0ºF) high -26.0ºC (-14.8ºF)
winds from the SSE at 4.4 m/s (9.8 mph) gusting to 16.8 m/s (37.6 mph)
pressure at 7.40 hPapic.twitter.com/vAQvEbHq1P

In [22]:
# USING PANDAS TO SCRAPE THE TABLE CONTAINING FACTS 

facts_url = 'https://space-facts.com/mars/'
table = pd.read_html(facts_url) 

table[1]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [35]:
facts_df = table[1]
facts_df.columns = ["Facts", "Value"]
#facts_df.set_index(["Facts"])
facts_df.set_index("Facts")
#facts_df

                                              Value
Facts
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [39]:
# USING PANDAS TO CONVERT DATA INTO HTML TABLE STRING
facts_html = facts_df.to_html()
#facts_html

facts_html = facts_html.replace("\n", " ")
facts_html

'<table border="1" class="dataframe">   <thead>     <tr style="text-align: right;">       <th></th>       <th>Facts</th>       <th>Value</th>     </tr>   </thead>   <tbody>     <tr>       <th>0</th>       <td>Equatorial Diameter:</td>       <td>6,792 km</td>     </tr>     <tr>       <th>1</th>       <td>Polar Diameter:</td>       <td>6,752 km</td>     </tr>     <tr>       <th>2</th>       <td>Mass:</td>       <td>6.39 × 10^23 kg (0.11 Earths)</td>     </tr>     <tr>       <th>3</th>       <td>Moons:</td>       <td>2 (Phobos &amp; Deimos)</td>     </tr>     <tr>       <th>4</th>       <td>Orbit Distance:</td>       <td>227,943,824 km (1.38 AU)</td>     </tr>     <tr>       <th>5</th>       <td>Orbit Period:</td>       <td>687 days (1.9 years)</td>     </tr>     <tr>       <th>6</th>       <td>Surface Temperature:</td>       <td>-87 to -5 °C</td>     </tr>     <tr>       <th>7</th>       <td>First Record:</td>       <td>2nd millennium BC</td>     </tr>     <tr>       <th>8</th>       <td>Recorded By:</td>       <td>Egyptian astronomers</td>     </tr>   </tbody> </table>'

In [ ]:
# MARS HEMISPHERE

# Cerberus Hemisphere 
url = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced'
response = requests.get(url)
soup = bs(response.text, 'html.parser')

In [ ]:
#print(soup.prettify())

In [ ]:
c_image = soup.find_all('div', class_='wide-image-wrapper')
print(c_image)

In [ ]:

for image in c_image:
    c_pic = image.find('li')
    full_pic = c_pic.find('a')['href']
    #print(full_pic)
    
c_title = soup.find('h2', class_='title').text
#print(c_title)

Cerberus_hem = {"Title": c_title, "url": full_pic}
print(Cerberus_hem)

In [ ]:
# Schiaparelli Hemisphere
url = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced'
response = requests.get(url)
soup = bs(response.text, 'html.parser')

In [ ]:
#print(soup.prettify())

In [ ]:
s_image = soup.find_all('div', 'wide-image-wrapper')
print(s_image)

In [ ]:
for image in s_image:
    s_pic = image.find('li')
    #print(s_pic)
    full_pic = s_pic.find('a')['href']
    #print( full_pic)
    
s_title = soup.find('h2', class_='title').text
#print(s_title)

s_hem = {"Title": s_title, "url": full_pic}
print(s_hem)

In [ ]:
# Syrtis Major Hemisphere
url = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced'
response = requests.get(url)
soup = bs(response.text, 'html.parser')

In [ ]:
#print(soup.prettify())

In [ ]:
sm_image = soup.find_all('div', 'wide-image-wrapper')
print(sm_image)

In [ ]:
for image in sm_image:
    sm_pic = image.find('li')
    #print(sm_pic)
    full_pic = sm_pic.find('a')['href']
    #print(full_pic)
    
sm_title = soup.find('h2', class_='title').text
#print(sm_title)

sm_hem = {"Title": sm_title, "url": full_pic}
print(sm_hem)

In [ ]:
# Valles Marineris Hemisphere
url = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced'
response = requests.get(url)
soup = bs(response.text, 'html.parser')

In [ ]:
#print(soup.prettify())

In [ ]:
v_image = soup.find_all('div', 'wide-image-wrapper')
print(v_image)

In [ ]:
for image in v_image:
    v_pic = image.find('li')
    #print(v_pic)
    full_pic = v_pic.find('a')['href']
    #print(full_pic)
    
v_title = soup.find('h2', class_='title').text
#print(v_title)

vm_hem = {"Title": v_title, "url": full_pic}
print(vm_hem)

In [ ]:
hemisphere_image_urls = [Cerberus_hem, s_hem, sm_hem, vm_hem]
print(hemisphere_image_urls)